.description-sheet {
  background-color: #0a0a0a;
  border-radius: 0.5rem;
  display: flex;
  flex-flow: column;
  height: 26rem;
  overflow-y: scroll;
  padding: 2rem;
  width: 23rem;
}

.description-sheet-title {
  color: white;
  display: flex;
  flex-flow: row;
  font-family: Ubuntu , -apple-system , comic-sans;
  justify-content: center;
}

.category-title {
  color: white;
  font-family: Ubuntu , -apple-system , comic-sans;
  font-size: 1rem;
}

.category-input {
  background-color: #121212;
  border-radius: 0.3rem;
  border-style: none;
  box-shadow: 0 0.4rem 0.3rem 0 #000000;
  color: white;
  font-family: Ubuntu , -apple-system , comic-sans;
  font-size: 0.8rem;
  font-weight: bold;
  height: 1rem;
  outline: none;
  padding: 1rem;
  width: 20rem;
}

.category-input:hover {
  cursor: pointer;
  transition: ease 0.1s;
  background-color: #0a0a0a;
}

::-webkit-scrollbar {
  background-color: #000000;
}

::-webkit-scrollbar-track {
  border-radius: 0.3rem;
}

::-webkit-scrollbar-thumb {
  background: #121212; 
  border-radius: 10px;
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
