button {
    background-color: #0a0a0a; /* Green */
    border: none;
    border-radius: 0.2rem;
    color: white;
    display: inline-block;
    margin: 0 0.5rem;
    margin-top: 6rem;
    padding: 0.5rem 0.75rem;
    text-align: center;
    text-decoration: none;
}

button:hover {
    cursor: pointer;
    background-color: #3a0937;
    transition: 0.25s;
}

.import-export-btn {
    display: flex;
    flex-flow: row;
    justify-content: center;
    width: 100%;
    margin-right: 7rem;
}
